#nav-adm{
  font-family:'Pompiere', cursive;
  display: flex;
  justify-content: space-between;
  background: rgb(94,164,65);
  background: linear-gradient(337deg, rgba(94,164,65,1) 2%, rgba(84,149,85,1) 47%, rgba(36,221,97,1) 100%);
  color: #FFF;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;

}
#nav-adm div{
  padding: 10px;
  font-size: 2rem;
}


#nav-adm ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

#nav-adm ul li {
  display: block;
}

#nav-adm ul li a{
  display: flex;
  padding: 20px;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  height: 100%;

}

#nav-adm ul li.selected a{
 
  color: #FFF;
}

#nav-adm ul li a:hover{
 
  text-decoration: none;
  color: #E0E0E0;
}

header{
    max-width: 100%;
   flex-wrap: wrap;
   display: flex;
   justify-content: space-around;
   align-items: center;
   background: rgb(94,164,65);
   background: linear-gradient(337deg, rgba(94,164,65,1) 2%, rgba(84,149,85,1) 47%, rgba(36,221,97,1) 100%);
   color:aliceblue;
   font-family: 'Pompiere', cursive;
   box-shadow: 1px 2px 8px  rgba(39, 41, 41, 0.74);
   }
   
   h1{
     display: flex;
    
     align-self: center;
   }
   
   
   .local{
     display: flex;
     flex-wrap: wrap;
    font-size: 20px;
     flex-direction: column;
     margin-right: 100px;
    
   
   }
   
   .pin{
     display: flex;
   padding-left: 100px;
   
   }
   
   .perfil{
     display: flex;
    flex-wrap: nowrap;
     width: 80px;
    height: 80px;
    margin-right: 40px
   }
   .menuu{
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     margin-right: 20px;
   }
   .boton{
       width: 50px;
         border-radius: 20px 40px 60px 80px;
         background-color: rgba(95, 164, 65, 0.719);
         font-family:'Pompiere', cursive; 
        font-size: 15px;
        box-shadow:0 1px 3px rgba(124, 124, 134, 0.856);
        }
        .estados{
          width: 120px;
          border-radius: 20px 40px 60px 80px;
          box-shadow:1px 3px 3px rgba(124, 124, 134, 0.856);
        background-color: rgba(212, 243, 198, 0.568);
        }
        .dropbtn {
  
          background: linear-gradient(337deg, rgba(95, 164, 65, 0) 2%, rgba(84, 149, 85, 0) 47%, rgba(36, 221, 98, 0) 100%);
            font-family: 'Pompiere', cursive;
          padding: 20px;
        border: none;
          cursor:auto;
        }
        
        .dropbtn:hover, .dropbtn:focus {
          background-color: #6ba35e;
        }
        
        .dropdown {
            float: right;
           
            display: block;
            margin-right: 50px;
        }
        
        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f1f1f1;
         width: 200px;
          overflow: auto;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        
        }
        
        .dropdown-content a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
        }
        
        .dropdown a:hover {background-color: #ddd;}
        
        .show {display: block;}
       