<header>
  <link rel="stylesheet" href="/css/header.css">
  <nav id="nav-adm">
      <div>
          <img src="/img/logo.png" alt="">
          
      </div>
      <ul>
          <li><a href="/adm/userlogin">Login Usuário</a></li>
          <li><a href="#">Login Lojista</a></li>
          <li ><a href="#">Crie Sua Conta</a></li>
          <li><a href="#">Crie Sua Lojinha</a></li>
         
      </ul>
</nav>
</header>