<nav id="nav-adm">
    <div class="log"><img class="logo" src="/img/logo.png" alt=""></div>
    <div class="texto">
        
      Bem vindos
        
    </div>
    <ul>
    <li><a href="/user/cadastro">Cadastre-se</a></li>
    <li><a href="/user/login">Login</a></li>
    <li><a href="/lojista/login">Minha Lojinha</a></li>
    <li><a href="/lojista/criar">Crie Sua Lojinha</a></li>
  
</ul>
</div>