<header>
       
    <img class="logo2" src="img/logo.png" alt="Logo Empresa">
     <h1>Olá, Dona Sônia Lorenzonni! Bem-Vinda a sua lojinha!</h1>



<img class="pin2" src="img/pin.png" alt="localização">
           <span class="local2">
           <p>Nova Venécia</p>
            <p>29830-000</p>
           <p>Estado:ES</p>
              </span>

       
           <img class="perfil" src="/img/perfil.png" alt="perf">
           <img class="menu" src="/img/menu.png" alt="men">
       

      
  
</div>
</header>